.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.header {
  display: inline-block;
  width: 100%;
}

.header * {
  display: inline;
}

.logout {
  float: right;
  top: 20px;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.loginWrapper {
  width: 45%;
  margin: 10% auto 0;
  padding: 10px;
  border: 1px solid #eeeeee;
}

.loginWrapper h2 {
  margin-bottom: 50px;
}

form * {
  display: block;
}

form input {
  border: 1px solid #5f5f5f;
  margin: 10px auto 0;
  padding: 16px;
  width: 90%;
  border-radius: 10px;
}

form button {
  width: 90%;
  margin: 50px auto 20px;
  padding: 14px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

form button:hover {
  border: 1px solid #000000;
}

table {
  width: 100%;
  border: 1px solid #000000;
  margin-top: 10px;
}

thead {
  background-color: #333333;
  color: #ffffff;
}

thead td {
  padding: 10px;
  margin-bottom: 20px;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: #eeeeee;
}

tbody td {
  padding: 10px;
}

.btns {
  margin-top: 20px;
}

.btn {
  padding: 14px;
  margin-right: 20px;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #000000;
}
